.palel-primary
	{
		border-color: #bce8f1;
	}
	.panel-primary>.panel-heading
	{
		background:#bce8f1;
		
	}
	.panel-primary>.panel-body
	{
		background-color: #EDEDED;
	}
body{
       background: url(".../img/back_cad_game.jpg") repeat 0 0;
       opacity: 0.9;
      background-color: #444;
}

.h4{
    
    font-size: 30px;
    color: white;
}